<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tracks</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <%- include('../partials/nav') %>
    <main>
        <% data.forEach(elt => { %>
            <figure>
               <figcaption><%= elt.name%></figcaption> 
              <audio src=<%- elt.preview_url%> controls>
                
              </audio>
            </figure>

        <% } )%>
      
    </main>
    <%- include('../partials/footer')%>
</body>
</html>